body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

input {
    padding: 8px;
    margin-top: 10px;
    width: 80%;
    max-width: 500px;
    border: none;
    border-radius: 5px;
}

#book-list {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

strong {
    color: #333;
    display: block;
    margin-top: 10px;
}
